In [1]:

import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(101)
df=pd.DataFrame(randn(3,3),['A','B','C'],['D','E','F'])
df

          D         E         F
A  2.706850  0.628133  0.907969
B  0.503826  0.651118 -0.319318
C -0.848077  0.605965 -2.018168

In [4]:
df['E']

A    0.628133
B    0.651118
C    0.605965
Name: E, dtype: float64

In [3]:
type(df['D'])

pandas.core.series.Series

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
df.head(2)

          D         E         F
A  2.706850  0.628133  0.907969
B  0.503826  0.651118 -0.319318

In [7]:
df.tail(1)

          D         E         F
C -0.848077  0.605965 -2.018168

In [8]:
df.isnull().any()

D    False
E    False
F    False
dtype: bool

In [9]:
df.drop('C')

          D         E         F
A  2.706850  0.628133  0.907969
B  0.503826  0.651118 -0.319318

In [10]:
df.drop('A')

          D         E         F
B  0.503826  0.651118 -0.319318
C -0.848077  0.605965 -2.018168